.header{
  font-family: Trebuchet MS;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: rgb(61, 61, 70);
  font-size: 35px;
  line-height: 1.5em;
  background-image: url("OGKK Logo-small.png");
  background-size: auto 100%;
  background-position: right;
  background-repeat: no-repeat;
}

body{
  font-family:  Trebuchet MS;
}

.main_content{
  margin-top: 15px;
  color: rgb(66, 66, 71);
  min-height: 500px;
  background-image: url("OGKK Logo Transparent.png");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: auto 100%;
}

ul{
  list-style: none;
}

a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}

#navigation{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 20px;


  background-color: rgb(52, 54, 68);
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  justify-items: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}

.menu_item a{
  text-align: center;
  font-weight: 600;
}

a:hover {
  color: grey;
}

.student_material{
  display: none;
  line-height: 1.3em;
  z-index: 1;
  position: absolute;
  left: 45%;
  background: rgba(105, 102, 102, 0.8);
  padding-right: 4em;
  padding-bottom: 1em;
  padding-top: 1em;
  padding-left: 1em;
  border-radius: 0px 0px 10px 10px;
  text-align: initial;
}

.student_material a{
  

  font-weight: normal;
}

#student_materials:hover .student_material{
  display: block;
}

#footer{
  font-size: 12px;
  color: gray;
  bottom: 0%;
  position: relative;
  display: grid;
  grid-template-columns: auto 100px;
  grid-gap: 5%;
  margin-top: 15px;
}

#disclaimer{
  font-style: italic;
}